<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>172654183137-ikr9k10a2kf4hmj3s13ca8988rck2e0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172654183137-ikr9k10a2kf4hmj3s13ca8988rck2e0m</string>
	<key>API_KEY</key>
	<string>AIzaSyCmYVmwJaiKIa8RFX7HUb_2gXIt47sq0c8</string>
	<key>GCM_SENDER_ID</key>
	<string>172654183137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DoubleM.SwiftStart</string>
	<key>PROJECT_ID</key>
	<string>project-1566070461989118794</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1566070461989118794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:172654183137:ios:03261b5318b455ec</string>
	<key>DATABASE_URL</key>
	<string>https://project-1566070461989118794.firebaseio.com</string>
</dict>
</plist>